{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
    </head>
    <body>
        <nav class="bg-white shadow-lg">
            <div class="max-w-6xl mx-auto px-4">
                <div class="flex justify-between">
                    <div class="flex space-x-7">
                        <div>
                            <a href="#" class="flex items-centre px-2 py-4">
                            <img class="h-8 w-8" src="{% static 'myapp/images/shopping.png' %}" alt="">
                            <span class="text-gray-500 font-semibold text-lg">Buy & Sell</span>
                            </a>
                        </div>
                        <div class="items-centre flex space-x-1">
                            <a href="#" class="px-2 py-4 text-gray-500 font-semibold border-b-4 border-green-500">Home</a>
                            <a href="{% url 'myapp:add_product' %}" class="px-2 py-4 text-gray-500 font-semibold">Post and Add</a>
                            <a href="{% url 'myapp:products' %}" class="px-2 py-4 text-gray-500 font-semibold">View Products</a>
                            {% if user.is_authenticated %}
                            <a class="px-20 py-4 text-gray-500 font-semibold" href="{% url 'users:logout' %}">Logout</a>
                            <a class="px-20 py-4 text-gray-500 font-semibold" href="{% url 'users:profile' %}">Profile</a>
                            <a class=" py-4 text-gray-500 font-semibold" href="{% url 'myapp:my_listings' %}">My Listings</a>
                            {% else %}
                            <a class="px-40 py-4 text-gray-500 font-semibold" href="{% url 'users:login' %}">Login</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        {% block content %}


        {% endblock %}
    </body>
</html>